<!-- Navigation bar -->
<nav class="navbar navbar-inverse" style="border-radius: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/weather"><i class="fa fa-moon"></i> Whitehat Weather APP</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/profile"><span class="glyphicon glyphicon-user"></span> <%= user.name %> </a></li>
        <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>